div.form-group{
    background: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}
div.password{
    background-color: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}
p{
    background-color: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}
div.d-grid{
    background: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}