div.form-group {
    background: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}

div.name {
    background: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}

div.email {
    background-color: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}

div.message {
    background: #a9d6f4;
    height: 3000 px;
    width: 3000 px;
}

div.submit {
    background-color: #a9d6f4;
}