<html>

<head>
  <title></title>
</head>

<body>
  <div style="background-color:black">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"[matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
          <mat-badge matBadge="2" matBadgeColor="warn" matBadgeSize="small"></mat-badge>
        </button>
        <mat-menu #menu="matMenu">
            <button  mat-menu-item class="counter-icon">
              <mat-icon>count</mat-icon>
            <span><a routerLink="countercomponent" style="color:black">Counter</a></span>
            <span></span>
      
          </button>
          <button mat-menu-item>
            <mat-icon>search</mat-icon>
             <span><a routerLink="searchcomponent" style="color:black">Search</a></span>
             <span></span>
          </button>
          <!-- <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button> -->
        </mat-menu>
      <span style="color:black">Assignments</span>
      <span class="example-spacer"></span>







      <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with home icon">
        <mat-icon>home</mat-icon>
      </button>
      <span><a routerLink="homecomponent" style="color:black">Home</a></span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon address-icon" aria-label="Example icon-button with address icon">
        <mat-icon>address</mat-icon>
      </button>
      <span><a routerLink="addresscomponent" style="color:black">Address</a></span>
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon feedback-icon" aria-label="Example icon-button with feedback icon">
        <mat-icon>feedback</mat-icon>
      </button>
      <span><a routerLink="feedbackcomponent" style="color:black">Feedback</a></span>
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon register-icon" aria-label="Example icon-button with register icon">
        <!-- Whatever is written in mat-icon is visible like person-add is written so register icon will be visible -->
        <mat-icon>person-add</mat-icon>
      </button>
      <span><a routerLink="registrationcomponent" style="color:black">Register</a></span>
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon register-icon" aria-label="Example icon-button with register icon">
        <!-- Whatever is written in mat-icon is visible like person-add is written so register icon will be visible -->
        <mat-icon>person-add</mat-icon>
      </button>
      <span><a routerLink="login-component" style="color:black">Login</a></span>
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon product-icon" aria-label="Example icon-button with product icon">
        <!-- Whatever is written in mat-icon is visible like shop is written so product icon will be visible -->
        <mat-icon>shop</mat-icon>
      </button>
      <span><a routerLink="productscomponent" style="color:black">Products</a></span>
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon about-icon" aria-label="Example icon-button with about icon">
        <!-- Whatever is written in mat-icon is visible like search is written so search icon will be visible -->
        <mat-icon>search</mat-icon>
      </button>
      <span><a routerLink="aboutcomponent" style="color:black">About</a></span>
      <span class="example-spacer"></span>


      <button mat-icon-button class="example-icon contact-icon" aria-label="Example icon-button with contact icon">
        <mat-icon>phone</mat-icon>
      </button>
      <span><a routerLink="contactcomponent" style="color:black">Contact</a></span>
      <span class="example-spacer"></span>

    </mat-toolbar>
    <router-outlet></router-outlet>

  </div>
</body>

</html>