<p>address-component works!</p>
<div class="container  p-5  text-center">
    <div class="row">
        <div class="col-md-4"><br>
            <div class="bg-primary p-4 text-center">
                <h2>Address Form</h2>
            </div>
            <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                <div formArrayName="addresses">
                    <div *ngFor="let address of addressControls.controls; let i=index" [formGroupName]="i">
                        <h3>Address {{ i + 1 }}</h3>
                        <div class="street">
                            <label>Street:</label>&nbsp;
                            <input type="text" formControlName="street">
                        </div>
                        <div class="City">
                            <label>City: </label>&nbsp;
                            <input type="text" formControlName="city">
                        </div>
                        <div class="State">
                            <label>State: </label>&nbsp;
                            <input type="text" formControlName="state">
                        </div>
                        <div class="postalCode">
                            <label>Postal Code: </label>&nbsp;
                            <input type="text" formControlName="postalCode">
                        </div><br>
                        <button type="button"  class="btn btn-primary" (click)="removeAddress(i)">Remove Address</button>&nbsp;
                    </div>
                </div><br>
                <button type="button"  class="btn btn-primary" (click)="addAddress()">Add Address</button>&nbsp;<br>
                <button type="submit"  class="btn btn-primary" [disabled]="addressForm.invalid">Submit</button>&nbsp;<br>
            </form>
        </div>
    </div>
</div>