<div class="container p-5 text-center">
    <div class="row">
        <div class="col-md-4"><br>
            <div class="bg-primary p-4 text-center">
                <form [formGroup]="counterForm">
                    <div>
                        <span><b>The value of counter is: {{ counts | async }}</b></span><br><br>
                        <button type="button" (click)="decrement()">Decrement</button><br><br>
                        <button type="button" (click)="increment()">Increment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>